/*#cb3837*/
html {
  
}

.hid {
    display: none
}

.shw {
    display: inline-block;
}

/*页面中心区域控制 */
#oss-page-wraper {
    /*height: 100%;*/
    /*position: relative;
    min-height: 100%;
    padding-bottom: 3rem;*/
}

.osspjax-container {
    /*width: 100%;*/
}

#oss-header, #oss-scripts {
    width: 0;
    height: 0;
}

/* 提示框处理 */
#oss-tips {
    position: fixed;
    bottom: 90px;
    width: 100%;
    text-align: center;
    /*line-height: 10em;*/
    opacity: 0.6;
    z-index: 19000;
    color: #fff;
}

    #oss-tips .loading, #oss-tips .text {
        text-align: center;
        display: inline-block;
        /*padding: 5em 10em;*/
        background-color: #000;
        padding: 8px 15px;
        max-width: 600px;
        /*line-height: 10em;*/
        border-radius: 0.6rem;
    }

        #oss-tips .loading > div {
            width: 0.8rem;
            height: 0.8rem;
            background-color: #fff;
            -ms-border-radius: 100%;
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
            animation: bouncedelay 1.4s infinite ease-in-out;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

#oss-tips .loading .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        #oss-tips .loading .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}
@keyframes bouncedelay {
    0%, 80%, 100% {
        -ms-transform: scale(0.0);
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    40% {
        -ms-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}