/*#cb3837*/
html {
    height: 100%;
}

body {
    font-family: -apple-system,'微软雅黑','Tahoma', "Segoe UI", 'Droid Sans',sans-serif;
    height: 100%;
    /*padding-bottom: 5rem !important;*/
    background-color: #F7F7F7
}
.hid {
    display: none
}

.shw {
    display: inline-block;
}

/*页面中心区域控制 */
#oss-page-wraper {
    height: 100%;
    /*position: relative;
    min-height: 100%;
    padding-bottom: 3rem;*/
}

.ospjax-container {
    width: 100%;
}

#oss-header, #oss-scripts {
    width: 0;
    height: 0;
}

/* 提示框处理 */
#oss-tips {
    position: fixed;
    bottom: 16rem;
    width: 100%;
    text-align: center;
    line-height: 3rem;
    opacity: 0.6;
    z-index: 19000;
    color: #fff;
}

    #oss-tips .loading, #oss-tips .text {
        text-align: center;
        display: inline-block;
        padding: 0.4rem 1rem;
        background-color: #000;
        max-width: 60rem;
        line-height: 3rem;
        border-radius: 0.6rem;
    }

        #oss-tips .loading > div {
            width: 0.8rem;
            height: 0.8rem;
            background-color: #fff;
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
            animation: bouncedelay 1.4s infinite ease-in-out;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        #oss-tips .loading .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        #oss-tips .loading .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


footer {
    position: fixed;
    width: 100%;
    height: 5rem;
    z-index: 2;
    bottom: 0;
    border-top: 1px #eee solid;
    /*margin-top: -3rem;*/
    padding-top: 1rem;
    font-size: 12px;
}
.nav-md .container.body {
    height: 100%;
}
.nav-md .container.body .col-md-3.left_col {
    padding-bottom: 5rem;
}
.nav-md .container.body .right_col {
    padding-bottom: 5rem;
    /*padding-top: 5rem;*/
    background-color: #F7F7F7;
    height: 100%;
}



/* 修改页面容器  */
.manage-btns {
    text-align: center;
    margin-top: 10px;
}
.modify-con {
    padding-top: 2rem;
}
.modify-con .text-danger {
    font-size: 1.3rem;
    padding-left: 8px;
}
/* 平台项目修改页 */
.modify-con .inp-row {
    max-width: 30rem;
    margin: 0.8rem auto;
    min-height: 3rem;
    text-align: center;
}

.modify-con .btn-containers {
    margin-top: 2rem;
    text-align: center;
}

/*  登录页面  */
.login-title {
    height: 10rem;
    padding-top: 4rem;
    font-size: 3rem;
    text-align: center;
}

.login-box {
    background-color: #fff;
    border: #eee 1px solid;
    border-radius: 1rem;
    float: none;
    margin: 0 auto;
    max-width: 46rem;
}

    .login-box form {
        padding: 2rem;
        margin-top: 2rem;
    }

@media screen and (max-width: 767px) {
    .login-box {
        width: 80%;
    }
}

.login-btn {
    width: 30%;
    margin-top: 1.5rem;
}

.third-section {
    margin-top: 2rem;
    text-align: center;
    font-size: 12px;
}
