@using OSS.Common.Authrization
@{ViewBag.IsWap = MemberShiper.AppAuthorize.AppClient == AppClientType.Wap;}
<title>@ViewData["Title"]|千贝云</title>
@RenderSection("Header", required: false)
@RenderBody()
@RenderSection("Scripts", required: false)