@using OSS.Infrastructure.Web.WebExtentions
@{
    Layout = Context.Request.IsPjax() ? "_PjaxLayout" : "_RootLayout";
}

<div class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show" id="oss-main-page">
    <header class="app-header navbar" id="oss-page-header">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button"
                data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img class="navbar-brand-full" src="~/lib/coreui/img/brand/logo.svg" width="89" height="25" alt="CoreUI Logo">
            <img class="navbar-brand-minimized" src="~/lib/coreui/img/brand/sygnet.svg" width="30" height="30">
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="img-avatar" :src="auth_info.img" :alt="auth_info.name">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" @@click="quit">
                        <i class="fa cui-account-logout"></i> 退出登录
                    </a>
                </div>
            </li>
        </ul>
    </header>

    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav ps">
                <ul class="nav">
                    <li class="nav-title">菜单管理</li>
                  
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon icon-puzzle"></i> 示例
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="/" opj-namespc="oss-main-pjax">
                                    <i class="nav-icon icon-puzzle"></i> Index
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/home/test1" opj-namespc="oss-main-pjax">
                                    <i class="nav-icon icon-puzzle"></i> Test1
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/home/test2" opj-namespc="oss-main-pjax">
                                    <i class="nav-icon icon-puzzle"></i> Test2
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <button class="sidebar-minimizer" type="button"></button>
        </div>
        <main class="main">
            <div class="container-fluid" id="oss-main-wraper">
                <div class="oss-main-container">
                    @* 放在这里，非pjax加载的局部样式会被自然卸载，防止后续冲突 *@
                    @RenderSection("Headers", required: false)
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <footer class="app-footer">
        <div>
            <a href="#">OSS.Core.AdminUI</a>
            <span>&copy; 2018 creativeLabs.</span>
        </div>
    </footer>

    <div id="oss-tips" class="hid">
        <div class="container hid">
            <div class="loading">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <div class="text hid">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/site/site.osspjax.main.js"></script>
    <script src="~/js/site/site.ossauth.js"></script>

    <section id="oss-main-scripts">@RenderSection("Scripts", required: false)</section>
}
