@page "/"
@{
    ViewData["Title"] = "Index";
}

<div class="animated fadeIn">

    <div class="row">
        <h1>Index</h1>
    </div>

    <div id="test-list"></div>

</div>

@section Scripts{

    <script src="~/lib/oss/oss.table.js"></script>
    <script>
        $(function() {
            $("#test-list").osstable({
                headers: [
                    {
                      
                        title: "名称",
                        col_name: "name",
                        col_format: null
                    },
                    {
                        title: "操作",
                        col_name: "id",
                        col_format: function(rowData) {
                            return "<button onclick=\"alert('" + rowData.id + "')\"> 修改</button>";
                        }
                    }
                ],
                methods: {
                    //  获取数据源方法
                    getSource: function(proNode, callBack) {
                        var list = {
                            total: 4,
                            data:[
                                { id: 1, name: "ceshi1" },
                                { id: 2, name: "ceshi2" },
                                { id: 3, name: "ceshi3" },
                                { id: 4, name: "ceshi4" }
                            ]
                        };
                        callBack(list);
                    }
                }
            });
        });
    </script>
}
