@page "/"
@{
    ViewData["Title"] = "Index";
}

<div id="test-list" class="row-main"></div>
@section Scripts{

    <script src="~/lib/oss/oss.table.js" oss-pjax-once="true"></script>
    <script>
        $(function () {
            $("#test-list").osstable({
                headers: [
                    {
                        title: "名称",
                        col_name: "name",
                        col_format: null
                    },
                    {
                        title: "操作",
                        col_name: "id",
                        col_format: function (rowData) {
                            return "<button onclick=\"alert('" + rowData.id + "')\"> 修改</button>";
                        }
                    }
                ],
                methods: {
                    //  获取数据源方法
                    getSource: function (proNode, callBack) {
                        var list = {
                            total: 40,
                            data: [
                                { id: 1, name: "ceshi1" },
                                { id: 2, name: "ceshi2" },
                                { id: 3, name: "ceshi3" },
                                { id: 4, name: "ceshi4" }
                            ]
                        };
                        callBack(list);
                    }
                }
            });
        });
    </script>
}
